<!DOCTYPE html>
<html>
  <head>
    <title>Simple Upload Example</title>
  </head>
  <body>
    <div>
      <form action="/image" enctype="multipart/form-data" method="post">
        <input type="file" name="upload" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
